header, main, footer {
    border: 2px solid blue;
    padding: 1%;
    width: 100%;
}


h1, nav {
    display: inline-block;

}

h1 {
    background-color: brown;
    width: 30%;
    padding: 1%;
    
}
nav {
    background-color: chartreuse;
    width: 63%;
    padding: 1%;
}
header figure {
    background-color: chocolate;
    padding: 1%;
    display: block;
}

img {
    width: 100%;
}

article {
    border: 1px solid blue;
}

article figure, article main {
    display: inline-block;
    vertical-align: top;
    border: 1px solid red;
}


table, th, td {
    border: 1px solid black;
}