:root {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #232323;
    font-size: 1.5rem;
    line-height: 0;
}
/********************
        Header
*********************/
header {
    background-color: #232323;
    padding: 2rem;
    overflow: auto;
}
h1 {
    padding: 1%;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    float: left;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    padding-left: 10.25rem;
    background-size: contain;
}
/*Navbar-Header*/
nav{
   float: right;
   margin-top: 1.25rem;
}
nav li{
    display: inline;
    margin: 0 1rem;
}
nav li a{
    color:#fff;
    font-size: 1.5rem;
    text-decoration: none;
}
/********************
        Main
*********************/
figure{
    margin: 0;
}
figure img {
    display: block;
    width: 100%;
}
figure figcaption {
    background-color: #232323;
 }
figure h2 {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    padding: 1.5rem;
    line-height: 1;
}
